<footer class="site-footer">
  <small>
<a href="https://www.dosb.de/" target="_blank">DOSB</a>

<a href="https://www.landessportbund-hessen.de/" target="_blank">LSBH</a>.

<a href="https://www.sportjugend-hessen.de/" target="_blank">Sportjugend Hessen</a>.

<a href="https://www.sportkreis-darmstadt-dieburg.de/" target="_blank">Sportkreis Darmstadt-Dieburg e.V.</a>.

<a href="https://www.sportkreisjugend-darmstadt-dieburg.de/" target="_blank">Sportkreisjugend-Darmstadt-Dieburg</a>.

<a href="https://www.turngau-odenwald.de/" target="_blank">Turngau Odenwald e.V.</a>.

    
  </small>
</footer>
